In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20210101',periods=600,freq='D')
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=list('ABCDE'))
df

                   A         B         C         D         E
2021-01-01  0.622750  0.367280 -0.468262  1.609018 -0.401622
2021-01-02 -0.291851  0.471348  0.140272 -0.303223 -0.240856
2021-01-03 -0.603201  0.779524  1.291870 -0.558750  1.778197
2021-01-04  0.767533 -1.639906 -0.434996 -1.432014  0.579136
2021-01-05 -0.075308 -0.166404  0.722981 -0.960787 -0.274557
...              ...       ...       ...       ...       ...
2022-08-19  1.354542 -1.926461 -1.392375  0.254689  0.032897
2022-08-20 -1.139678  0.808841 -0.329551  1.095424  0.436890
2022-08-21 -1.228222 -0.053641  0.912807 -2.704151 -0.335193
2022-08-22 -1.669594 -0.335428 -0.881078  1.491042 -1.064246
2022-08-23  1.317276  0.903525 -0.344126 -0.094144 -0.444266

[600 rows x 5 columns]

In [4]:
df['F'] = df.A[ df.A > 0]
df

                   A         B         C         D         E         F
2021-01-01  0.622750  0.367280 -0.468262  1.609018 -0.401622  0.622750
2021-01-02 -0.291851  0.471348  0.140272 -0.303223 -0.240856       NaN
2021-01-03 -0.603201  0.779524  1.291870 -0.558750  1.778197       NaN
2021-01-04  0.767533 -1.639906 -0.434996 -1.432014  0.579136  0.767533
2021-01-05 -0.075308 -0.166404  0.722981 -0.960787 -0.274557       NaN
...              ...       ...       ...       ...       ...       ...
2022-08-19  1.354542 -1.926461 -1.392375  0.254689  0.032897  1.354542
2022-08-20 -1.139678  0.808841 -0.329551  1.095424  0.436890       NaN
2022-08-21 -1.228222 -0.053641  0.912807 -2.704151 -0.335193       NaN
2022-08-22 -1.669594 -0.335428 -0.881078  1.491042 -1.064246       NaN
2022-08-23  1.317276  0.903525 -0.344126 -0.094144 -0.444266  1.317276

[600 rows x 6 columns]

In [5]:
df2 = df.copy()
df3 = df.copy()

In [8]:
df2.dropna()

                   A         B         C         D         E         F
2021-01-01  0.622750  0.367280 -0.468262  1.609018 -0.401622  0.622750
2021-01-04  0.767533 -1.639906 -0.434996 -1.432014  0.579136  0.767533
2021-01-06  1.960537 -1.121211 -0.630473 -1.351045 -1.568678  1.960537
2021-01-07  1.501332 -1.161711 -1.403261 -0.026342 -0.160309  1.501332
2021-01-08  1.054207 -1.104062  0.653439 -0.888410  0.522789  1.054207
...              ...       ...       ...       ...       ...       ...
2022-08-16  0.300375  0.867571 -0.155259  2.082209 -1.194413  0.300375
2022-08-17  0.511048  0.085596  0.074999 -0.809878  0.211696  0.511048
2022-08-18  0.097008  0.682937  0.766279  0.551389  0.233130  0.097008
2022-08-19  1.354542 -1.926461 -1.392375  0.254689  0.032897  1.354542
2022-08-23  1.317276  0.903525 -0.344126 -0.094144 -0.444266  1.317276

[298 rows x 6 columns]

In [9]:
df2.shape

(600, 6)

In [10]:
df3.fillna(np.mean(df3.A))

                   A         B         C         D         E         F
2021-01-01  0.622750  0.367280 -0.468262  1.609018 -0.401622  0.622750
2021-01-02 -0.291851  0.471348  0.140272 -0.303223 -0.240856  0.011443
2021-01-03 -0.603201  0.779524  1.291870 -0.558750  1.778197  0.011443
2021-01-04  0.767533 -1.639906 -0.434996 -1.432014  0.579136  0.767533
2021-01-05 -0.075308 -0.166404  0.722981 -0.960787 -0.274557  0.011443
...              ...       ...       ...       ...       ...       ...
2022-08-19  1.354542 -1.926461 -1.392375  0.254689  0.032897  1.354542
2022-08-20 -1.139678  0.808841 -0.329551  1.095424  0.436890  0.011443
2022-08-21 -1.228222 -0.053641  0.912807 -2.704151 -0.335193  0.011443
2022-08-22 -1.669594 -0.335428 -0.881078  1.491042 -1.064246  0.011443
2022-08-23  1.317276  0.903525 -0.344126 -0.094144 -0.444266  1.317276

[600 rows x 6 columns]