In [1]:
import pandas as pd 
import numpy as np

In [3]:
datas = pd.date_range('20210101',periods=600,freq='D')
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=list('ABCDE'))
df

                   A         B         C         D         E
2021-01-01  0.117560 -0.122970  0.085167 -0.131252  1.655927
2021-01-02 -0.711463 -0.178895 -0.122699 -2.389714  0.487924
2021-01-03 -1.008357 -0.213877 -1.721213  0.173181  0.493129
2021-01-04  0.672428  0.966023 -0.283727  0.196831 -0.062310
2021-01-05  0.291281 -0.906168  0.091138  1.653105 -0.868676
...              ...       ...       ...       ...       ...
2022-08-19 -0.493785 -0.268936  1.578211  0.530810  2.094816
2022-08-20 -1.872697 -0.071531 -0.293887 -0.988979 -0.716934
2022-08-21 -1.345319 -0.275826  0.307631 -1.448495 -1.213906
2022-08-22  0.051354  0.099080  0.616642  0.411252 -0.765641
2022-08-23  0.298444  0.020703  1.666518 -1.123697 -0.707727

[600 rows x 5 columns]

In [4]:
df['D']

2021-01-01   -0.131252
2021-01-02   -2.389714
2021-01-03    0.173181
2021-01-04    0.196831
2021-01-05    1.653105
                ...
2022-08-19    0.530810
2022-08-20   -0.988979
2022-08-21   -1.448495
2022-08-22    0.411252
2022-08-23   -1.123697
Freq: D, Name: D, Length: 600, dtype: float64

In [5]:
df[1:5]

                   A         B         C         D         E
2021-01-02 -0.711463 -0.178895 -0.122699 -2.389714  0.487924
2021-01-03 -1.008357 -0.213877 -1.721213  0.173181  0.493129
2021-01-04  0.672428  0.966023 -0.283727  0.196831 -0.062310
2021-01-05  0.291281 -0.906168  0.091138  1.653105 -0.868676

In [6]:
df.loc[:,['B','C','D']]

                   B         C         D
2021-01-01 -0.122970  0.085167 -0.131252
2021-01-02 -0.178895 -0.122699 -2.389714
2021-01-03 -0.213877 -1.721213  0.173181
2021-01-04  0.966023 -0.283727  0.196831
2021-01-05 -0.906168  0.091138  1.653105
...              ...       ...       ...
2022-08-19 -0.268936  1.578211  0.530810
2022-08-20 -0.071531 -0.293887 -0.988979
2022-08-21 -0.275826  0.307631 -1.448495
2022-08-22  0.099080  0.616642  0.411252
2022-08-23  0.020703  1.666518 -1.123697

[600 rows x 3 columns]

In [7]:
df.loc['20210101':'20210827',['B','C']]

                   B         C
2021-01-01 -0.122970  0.085167
2021-01-02 -0.178895 -0.122699
2021-01-03 -0.213877 -1.721213
2021-01-04  0.966023 -0.283727
2021-01-05 -0.906168  0.091138
...              ...       ...
2021-08-23 -0.686139 -1.262125
2021-08-24 -0.620699  0.968908
2021-08-25  0.304024  0.014127
2021-08-26 -0.079454 -0.446033
2021-08-27  0.331439  1.708317

[239 rows x 2 columns]

In [12]:
df.iloc[1:100,[1]]

                   B
2021-01-02 -0.178895
2021-01-03 -0.213877
2021-01-04  0.966023
2021-01-05 -0.906168
2021-01-06  2.870067
...              ...
2021-04-06 -0.610890
2021-04-07 -1.038918
2021-04-08 -1.379124
2021-04-09 -0.863476
2021-04-10  1.725971

[99 rows x 1 columns]

In [13]:
df[df.A > 0]

                   A         B         C         D         E
2021-01-01  0.117560 -0.122970  0.085167 -0.131252  1.655927
2021-01-04  0.672428  0.966023 -0.283727  0.196831 -0.062310
2021-01-05  0.291281 -0.906168  0.091138  1.653105 -0.868676
2021-01-06  0.578874  2.870067 -0.939218  0.979194  0.945078
2021-01-07  0.665554 -1.634999  1.219282 -1.209643 -0.316312
...              ...       ...       ...       ...       ...
2022-08-15  1.234682  0.334512 -0.497869 -1.067271 -0.095748
2022-08-16  0.739623 -0.156937  0.272532  2.585618  0.639838
2022-08-18  0.679440 -0.689349 -1.086026 -1.170351 -0.449627
2022-08-22  0.051354  0.099080  0.616642  0.411252 -0.765641
2022-08-23  0.298444  0.020703  1.666518 -1.123697 -0.707727

[300 rows x 5 columns]

In [16]:
df[df != np.NaN]

                   A         B         C         D         E
2021-01-01  0.117560 -0.122970  0.085167 -0.131252  1.655927
2021-01-02 -0.711463 -0.178895 -0.122699 -2.389714  0.487924
2021-01-03 -1.008357 -0.213877 -1.721213  0.173181  0.493129
2021-01-04  0.672428  0.966023 -0.283727  0.196831 -0.062310
2021-01-05  0.291281 -0.906168  0.091138  1.653105 -0.868676
...              ...       ...       ...       ...       ...
2022-08-19 -0.493785 -0.268936  1.578211  0.530810  2.094816
2022-08-20 -1.872697 -0.071531 -0.293887 -0.988979 -0.716934
2022-08-21 -1.345319 -0.275826  0.307631 -1.448495 -1.213906
2022-08-22  0.051354  0.099080  0.616642  0.411252 -0.765641
2022-08-23  0.298444  0.020703  1.666518 -1.123697 -0.707727

[600 rows x 5 columns]